body{
    background: #333;
    overflow: hidden;
}
.container{
    display:flex;
    align-items:center;
    justify-content: center;
}

/* Header */
.header{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    background: #333;
    box-shadow: rgba(255, 199, 69, 0.4) 0px 5px, rgba(255, 199, 69, 0.3) 0px 10px, rgba(255, 199, 69, 0.2) 0px 15px, rgba(255, 199, 69, 0.1) 0px 20px, rgba(255, 199, 69, 0.05) 0px 25px;
}

.header h1{
    color: #f6f6f6;;
}

/* Content */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#content .img{
    width: 500px;
    height: 500px;
    background-image: url(/img/cake-withlight.svg);
}
#content .img-2{
    width: 500px;
    height: 500px;
    background-image: url(/img/cake-withoutlight.svg);
}

#content .button{
    border: 3px solid transparent;
    text-decoration: none;
    color: #333;
    background: #FFC745;
    border-radius: 50px;
    font-size: 3rem;
    padding: 1.5rem 3rem;
    transition: background .6s;
}
#content .button:hover{
    border: 3px solid #FFC745;
    background: transparent;
    color: #FFC745;
}
#content .button i{
    margin-left: 3rem;
}
#content #dilek{
    display: inline-block;
}
#content #mum{
    display: none;
}

#content .baloons img:nth-child(1){
    position: absolute;
    bottom: 0px;
    left: 0;
}
#content .baloons img:nth-child(2){
    position: absolute;
    bottom: 0px;
    right: 0;
}



/* *Animate */
@keyframes fadeOutUp {
    0% {
      opacity: 1;
    }

    100% {
        /* display: none; */
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
  
.baloon-animate{
    animation-name: fadeOutUp;
}

/* *Card */
@keyframes card_animate{
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 300px;
    }
}

.card{
    position: absolute;
    top: 0;
    opacity: 0;
    border-radius: 8px;
    border: 1px solid #fff;
    background: #bc9230b8;
    width: 33%;
    padding: 1.5rem 3rem;
    transition: all 1s;
}
.card h3{
    color: #f6f6f6;
    text-shadow: 2px 2px 2px #9c7728;
    text-align:center;
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
}
.card p{
    color: #f6f6f6;
    text-shadow: 2px 2px 5px #9c7728;
    font-weight: 400;
    font-size: 1.33rem;
    line-height: 1.4;
}
.card p:nth-child(2){
    margin-bottom: 1.5rem;
}
.card p:nth-child(3){
  font-weight: 500;
}

/* *Heart */
.heart::before,
.heart::after {
    content : '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #FFC745;
    border-radius: 50%;
    position: absolute;
}
.heart {
    margin: 40px 0;
    width: 50px;
    height: 50px;
    background-color: #FFC745;
    transform: rotate(45deg);
    position: relative;
}
.heart::before {
    top: -25px;
    left: 0;
    
}
.heart::after {
    top: 0;
    left: -25px;
}    

